html,
body {
  width: 100%;
  height: 90%;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 25px;
  font-size: 1em;
}

input#generateButton {
  margin-left: 15px;
}

div#status {
  margin-left: 15px;
}

div#scene {
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0px;
  padding: 0px;
}

div.box {
  position: absolute;
  width: 100px;
  height: 90px;
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}
div.box:hover {
  border: 5px solid black;
}

form#data {
  background-color: rgb(255, 228, 225);
}

h1 {
  color: rgb(233, 150, 122);
  position: absolute;
  top: 0px;
  left: 450px;
  font-size: 3.5em;
}
